.sg-item-detail {
    .cart-button {
        height:50px;
        width: 48%;
    }

    .sg-button-content {
        margin: -5px 10px 0px 10px;
    }

    .sg-item-detail-img {
        max-height: 330px;
        max-width: 60%;
        margin: auto;
    }

    ion-card{
        background-color: #ffffff;
    }
}
