<ion-header>

  <ion-navbar color="dark">
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="sg-change-password">
  <form [formGroup]="changePasswordForm">
    <ion-list>
      <ion-item>
          <ion-label floating>Old Password</ion-label>
          <ion-input type="password" formControlName="oldPassword" [class.invalid]="!changePasswordForm.controls.oldPassword.valid && changePasswordForm.controls.oldPassword.dirty" required></ion-input>
      </ion-item>

      <ion-item *ngIf="!changePasswordForm.controls.oldPassword.valid && changePasswordForm.controls.oldPassword.dirty">
          <p color="danger">Please enter a valid Old Password.</p>
      </ion-item>

      <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="password" [class.invalid]="!changePasswordForm.controls.password.valid && changePasswordForm.controls.password.dirty" required></ion-input>
      </ion-item>

      <ion-item *ngIf="!changePasswordForm.controls.password.valid && changePasswordForm.controls.password.dirty">
          <p color="danger" small>Please enter a valid new Password.</p>
      </ion-item>    

      <ion-item>
          <ion-label floating>Confirm New Password</ion-label>
          <ion-input type="password" formControlName="confirmPassword" [class.invalid]="!changePasswordForm.controls.confirmPassword.valid && changePasswordForm.controls.confirmPassword.dirty" required></ion-input>
      </ion-item>

      <ion-item *ngIf="changePasswordForm.controls.password.value != changePasswordForm.controls.confirmPassword.value">
          <p color="danger">Passwords do not match.</p>
      </ion-item>
    </ion-list>
  </form>

  <ion-row>
    <ion-col>
      <button ion-button block color="dark" type="submit" (click)="changePassword()">Change Password</button>
    </ion-col>
  </ion-row>

  <div class="sg-policy-text">
    Password Policy:
    <ul class="sg-policy-text-ul">
      <li>Min 6 characters short</li>
      <li>Max 16 Characters long</li>
    </ul>
  </div>
</ion-content>