.sg-item-list {
    .sg-cell{
        height: 160px;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 2px;
        background-color: #ffffff;   
    }

    .sg-cell-text-row{
        height: 20%;
        vertical-align: middle;
    }

    .sg-text-center {
        text-align: center;
    }

    .itemcontent{
        width: 70%; 
        margin: 0px auto;
    }

    .sg-img-row{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 80%;
        text-align: center;
    }

    img {
        max-height: 115px;
        max-width: 100px;
        vertical-align: middle;
    }
}