.sg-account {
    ion-icon {
        font-size: 2.2em;
        padding-right: 10px;
    }

    .sg-account-text {
        font-size: 20px;
    }
}

#notification-button {            
    position: relative;
    width: 50px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}

#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

ion-icon{
    font-size: 2em;
}